:root {
  --color-primario: #e2984a; /* Naranja para acentos */
  --color-fondo: #f5f5f5; /* Gris claro para el fondo */
  --color-texto: #333333; /* Gris oscuro para el texto */
  --color-secundario: #4a90e2; /* Azul para acentos secundarios */
  --sombra: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

body {
  background-color: var(--color-fondo);
  color: var(--color-texto);
  font-family: 'Open Sans', sans-serif;
}

.dashboard {
  padding: 20px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  box-shadow: var(--sombra);
  margin-bottom: 20px;
}

button {
  background-color: var(--color-primario);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: var(--color-secundario);
  color: white;
}

.map-container, .table-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--sombra);
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 12px;
  border: 1px solid #dddddd;
  text-align: left;
}

th {
  background-color: var(--color-primario);
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.selected-row {
  background-color: #eaf5ff; /* Color suave para filas seleccionadas */
}

/* Mejoras adicionales para interactividad y estética */
input[type="checkbox"]:hover {
  cursor: pointer;
}

.map-container {
  position: relative;
}

.edit-mode-button, .send-button, .close-map-button {
  margin-top: 10px;
}

